*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*Round base measurment that helps use rem on future elements*/
    /*and change all inherited measurement later-on on media queries*/
    /*We use % instead of px, to maintain proper accesibility for short sighted people*/
    //default browser font size is 16px

    font-size: 62.5%; // 1 rem = 10px; 10px/16px= 62.5%;
    box-sizing: border-box;

    @include respond(tab-land) {
        font-size: 50%;
    }
    @include respond(phone-big) {
        font-size: 45%;
    }
    @include respond(phone-tiny) {
        font-size: 40%;
    }
    @include respond(phone-tiny-2) {
        font-size: 35%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom,
    var(--color-primary-2-light),
    var(--color-primary-2-dark)
    );
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(tab-land) {
        height: 100vh;
    }
}

