body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: --color-grey-dark-1;
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--color-primary-2-light), var(--color-primary-2-medium));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: var(--shadow-dark);
    }
}

.heading-tertiary {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-primary-4);
    
    &--red {
        text-transform: uppercase;
        color: var(--color-primary-2-dark);
    }
    &--green {
        text-transform: uppercase;
        color: rgb(0, 255, 0);
    }
}

.paragraph {
    font-size: var(--default-font-size);
    color: var(--color-primary-4);

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}