@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerAbsolute {
        position: absolute;
        top: 50%;
        left: 50%;
}
@mixin centerAbsolute2 {
        position: absolute;
        top: 0;
        left: 0;
}

@mixin buttonBase {
    background-color: inherit;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    color: var(--color-primary-5);
    cursor: pointer;
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 -1800px]  Normal styles
1800px + :      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > General layout + Grid > Page layout > Componenets

1em = 16px;
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone-tiny-3 {
        @media only screen and (max-width: 25.75em) {@content};   //412px
    }
    @if $breakpoint == phone-tiny-2 {
        @media only screen and (max-width: 31.25em) {@content};   //500
    }
    @if $breakpoint == phone-tiny {
        @media only screen and (max-width: 35em) {@content};   //560px
    }
    @if $breakpoint == phone-med {
        @media only screen and (max-width: 39.37em) {@content};   //630px
    }
    @if $breakpoint == phone-big {
        @media only screen and (max-width: 43.75em) {@content};   //700px
    }
    @if $breakpoint == phone-land {
        @media only screen and (max-width: 50em) {@content};   //800px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {@content};   //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {@content};  //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {@content};  //1800px
    }
}