:root {
    --color-primary-1: #292C44;
    --color-primary-2: #FF5349;
    --color-primary-3: #F0F0F1;
    --color-primary-4: #18CDCA;
    --color-primary-5: #4F80E1;


    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 6rem rgba(0, 0, 0, .06);
    --color-white: #fff;

    --line: 1px solid var(--color-grey-light-2);

    // Font
    --default-font-size: 1.6rem;

    // Grid
    --grid-width: 114rem;
    --gutter-vertical: 8rem;
    --gutter-vertical-small: 6rem;
    --gutter-horizotnal: 6rem;
}

$bp-largest: 75em;  //1200px;
$bp-large: 68.75em;  //1100px;
$bp-medium: 56.25em;  //900px;
$bp-small: 37.5em;  //600px;
$bp-smallest: 31.25em;  //500px;

