.row {
    max-width: --grid-width;
    margin: 0 auto;

    &:not(:last-child) {
    margin-bottom: --gutter-vertical;
    }

    @include clearfix;

    [class^="col-"]{
        float: left;
        
        &:not(:last-child) {
            margin-right: --gutter-horizotnal;
        }
    }

    .col-1-of-2 {
    width: calc((100% - var(--gutter-horizotnal)) / 2);
    }
    
    .col-1-of-3 {
    width: calc((100% - 2 * var(--gutter-horizotnal)) / 3);   
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * var(--gutter-horizotnal)) / 3) + var(--gutter-horizotnal));   
    }

    .col-1-of-4 {
    width: calc((100% - 3 * var(--gutter-horizotnal)) / 4);   
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * var(--gutter-horizotnal)) / 4) + var(--gutter-horizotnal));   
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * var(--gutter-horizotnal)) / 4) + (2 * var(--gutter-horizotnal)));   
    }
}
