.logo {
    height: 7rem;

    @include respond(phone-big) {
        height: 6rem;
    }
    
}

.sidebar {

    &__logo {
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        @include respond(tab-port) {
            order: 1;
        }
        @include respond(phone-big) {
            padding: 3rem 1rem;
        }
        @include respond(phone-tiny) {
            align-self: flex-start;
            padding: 2rem 1rem;
        }
    }

    &__sidenav {
        
        &-icon {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        &-item {
            height: inherit;
        }

        @include respond(tab-port) {
            display: flex;
            margin-top: 3rem;
            flex: 0 0 60%;
            margin-left: auto;
            order: 3;
        }
        @include respond(phone-tiny) {
            order: 2;
            padding-top: 4rem;
            background-color: var(--color-primary-1-transparent);
            flex: 0 0 100%;

            opacity: 0;
            visibility: hidden;
            transform: translate(-27%);
            transition: all 1s ease-out;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translate(0);
            }
        }

    }

    &__footer {

        &--social{
            display: flex;
            justify-content: center;
        }

        &--legal {
            text-align: center;
            padding: 1.7rem 2.5rem;
            line-height: 1.5;

        }
        @include respond(tab-port) {
            visibility: hidden;
            order: 2;
        }
    }
}