.logo {
    height: 7rem;
}

.sidebar {
    
    &__logo {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
    }

    &__sidenav {
        // margin-top: -2.5rem;
        
        &-icon {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }
    }

    &__footer {

        &--social{
            display: flex;
            justify-content: center;
        }

        &--legal {
            text-align: center;
            padding: 1.7rem 2.5rem;
            line-height: 1.5;
        }
    }
}