.logo {
    height: 7rem;
}

.sidebar {
    
    &__logo {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
    }

    &__side-nav {
        margin-top: -2.5rem;
        &-item {
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
            
        }
    }

    &__footer {

        &--social{
            display: flex;
            justify-content: center;
        }

        &--legal {
            text-align: center;
            padding: 1.7rem 2.5rem;
            line-height: 1.5;
        }
    }
}