.main-content {
    &__canvas {
        z-index: 3;
    }

    &__hero-box {
        @include centerAbsolute2;
        padding: 9rem 10rem 0 10rem;
        z-index: 2;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    
    &__field {
        height: 7rem;
        width: 77rem;
        background-color: var(--color-primary-4-transparent);
        border-radius: var(--border-radius);
        border: 2px solid var(--color-primary-5-transparent);
        box-shadow: var(--shadow-light);
    }
    
    &__text {
        color: var(--color-primary-3);
        // font-size: 4rem;
        line-height: 6rem;
        font-weight: 700;
        // text-transform: uppercase;
        display: flex;
        padding: 3.5px;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid var(--color-primary-3); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
    }

    &__cta {
        padding-top: 5rem;
        margin: 0 auto;
        justify-content: center;
        margin-top: -9rem;
    }
}