.main-content {
    &__canvas {
        z-index: 3;
        @include centerAbsolute2;

    }

    &__hero-container {
        height: 40%;
        z-index: 4;
    }

    &__hero-box {
        padding-top: 17.6rem;
        z-index: 4;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    &__field {
        height: 7rem;
        width: 77rem;
        background-color: var(--color-primary-4-transparent);
        border-radius: var(--border-radius);
        border: 2px solid var(--color-primary-5-transparent);
        box-shadow: var(--shadow-light);
        margin: 0 auto;

        opacity: 1;
        opacity: 0;
        margin-top: -330px;
        z-index: 4;
        transition-timing-function: linear, step-end, step-end;
        
        &.page-loaded {
            opacity: 1;
            margin-top: 0;
            z-index: 4;
            display: block;
            transition: opacity .5s linear, margin-top .5s step-start, z-index .5s step-start;
        }
        @include respond(phone-land) {
            width: 70rem;
        }
        @include respond(phone-tiny) {
            width: 57rem;
        }
    }
    
    &__text {
        color: var(--color-primary-3);
        // font-size: 4rem;
        line-height: 6rem;
        font-weight: 700;
        // text-transform: uppercase;
        display: flex;
        padding: 3.5px;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid var(--color-primary-3); /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
        typing 4s steps(30, end) 4.6s,
        blink-caret .5s step-end infinite;

        @include respond(phone-land) {
            font-size: 3rem;
        }
        @include respond(phone-tiny) {
            font-size: 2.5rem;
            line-height: 5.1rem;
        }
    }

    &__cta {
        margin: 0 auto;
        margin-bottom: -4rem;
        justify-content: center;
        z-index: 4;
    }
}