.popup {
    height: 100%;
    background-color: var(--color-primary-1-transparent);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    display: flex;
    transform: translate(-27%);
    transition: all 1s ease-out;

    &__canvas {
        cursor: crosshair;
        background-color: var(--color-primary-4-transparent);
        border-radius: var(--border-radius);
        }

    &__content {
        width: 100%;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        opacity: 0;
        transform: scale(0);
        transition: all .4s .2s;
    }

    &__top {
        vertical-align: middle;
        padding: 3rem 5rem;
        text-align: center;
    }
    
    &__bottom {
        z-index: 6;
        flex: 0 0 60%;
        background-color: none;
        text-align: center;

        &--header {
            color: var(--color-primary-1);
            @include centerAbsolute;
            transform: translateX(-50%);
            top: 45%;
        }
        &--text {
            color: var(--color-primary-1);
            @include centerAbsolute;
            transform: translate(-50%, 60%);
        }
    }
    


// Open states
    &:target {
        opacity: 1;
        visibility: visible;
        transform: translate(0);

    }

    &:target &__content {
        opacity: 1;
        transform: scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: var(--color-grey-dark-3);
            text-decoration: none;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            display: inline-block;
            line-height: 1;
            transition: all .2s;
        }
        &:hover {
            color: var(--color-primary-4);
        }
    }
}