.popup {
    width: 100%;
    background-color: var(--color-primary-1-transparent);
    z-index: 4;
    display: flex;
    height: 60%;
    position: absolute;
    top: 40%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-27%);
    transition: all 1s ease-out;


    @include respond(tab-port){
        top: 20%;
        height: 80%;
        background-color: var(--color-primary-1);
        overflow: scroll;
        z-index: 100;
    }

    @include respond(phone-tiny){
        top: 40%;
        height: 60%;
    }

    @include respond(phone-tiny-2){

    }

    &__canvas {
        cursor: crosshair;
        background-color: var(--color-primary-4-transparent);
        border-radius: var(--border-radius);
        position: absolute;
        right: 0;
        z-index: 5;
            @include respond(tab-port){
                visibility: hidden;
            }
        }

    &__content {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        display: flex;
        opacity: 0;
        transform: scale(0);
        transition: all .4s .2s;
        @include respond (phone-tiny) {
            overflow: scroll;
        }
    }

    &__left {
        vertical-align: middle;
        padding: 4rem 2rem;
        z-index: 6;
    }
    
    &__right {
        z-index: 6;
        flex: 0 0 60%;
        background-color: var(--color-primary-1-transparent);
        text-align: center;

        &--text {
            color: var(--color-primary-1);
            font-size: 1.8rem;
            font-weight: 500;
            z-index: 5;
            @include centerAbsolute;
            transform: translate(-10%, -40%);
            @include respond(tab-land){
                transform: translate(-10%, 0);
            }
            @include respond(phone-tiny){
                transform: translate(-10%, -40%);
            }
        }

        &__bg-video {
            position: absolute;
            top: 0;
            right: 0;
            height: 0;
            width: 0;
            visibility: hidden;
            z-index: 6;
            opacity: .50;
            overflow: hidden;
            border: 3px ridge var(--color-primary-5);

                @include respond(tab-port){
                    visibility: visible;
                    height: 70%;
                    width: 55%;
                    top: 10%;
                    right: 5%;
                }
        }
    }
    


// Open states
    &:target {
        opacity: 1;
        visibility: visible;
        transform: translate(0);

    }

    &:target &__content {
        opacity: 1;
        transform: scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: var(--color-primary-3);
            text-decoration: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 3rem;
            display: inline-block;
            line-height: 1;
            transition: all .2s;
            z-index: 100;
        }
        &:hover {
            color: var(--color-primary-2-light);
        }
    }
}