.popup {
    width: 100%;
    background-color: var(--color-primary-1-transparent);
    z-index: 4;
    display: flex;
    height: 60%;
    position: absolute;
    top: 40%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-27%);
    transition: all 1s ease-out;

    @include respond(tab-port){
        background-color: var(--color-primary-1);
    }
    @include respond(phone-tiny-2){
        overflow-x: scroll;
        overflow-y: scroll;
    }

    &__canvas {
        cursor: crosshair;
        background-color: var(--color-primary-4-transparent);
        border-radius: var(--border-radius);
        }

    &__content {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        display: flex;
        opacity: 0;
        transform: scale(0);
        transition: all .4s .2s;
        @include respond (phone-tiny) {
            overflow: scroll;
        }
    }

    &__left {
        vertical-align: middle;
        padding: 4rem 2rem;
    }
    
    &__right {
        z-index: 6;
        flex: 0 0 60%;
        background-color: none;
        text-align: center;

        &--text {
            color: var(--color-primary-1);
            font-size: 1.8rem;
            font-weight: 500;
            @include centerAbsolute;
            transform: translate(-10%, -40%);
            
        }
    }
    


// Open states
    &:target {
        opacity: 1;
        visibility: visible;
        transform: translate(0);

    }

    &:target &__content {
        opacity: 1;
        transform: scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: var(--color-primary-3);
            text-decoration: none;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 3rem;
            display: inline-block;
            line-height: 1;
            transition: all .2s;
            z-index: 10;
        }
        &:hover {
            color: var(--color-primary-2-light);
        }
    }
}