.btn-js {
    @include buttonBase;
    position: relative;
    overflow: hidden;
    font-size: 2.5rem;

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: opacity .4s,
                    fill    .25s;
    }

    &__visible {
        height: 6rem;
        fill: var(--color-grey-light-4);
    }
    
    &__invisible {
        padding: 2.2rem 0;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    
    
    &:hover &__visible {
            fill: var(--color-primary-1);
 
        }

    &:hover &__invisible {
            opacity: 1;
        }

    &:focus {
        outline: none;
    }
}

.highlight-nav--js {
    fill: var(--color-primary-5);

}

.btn-social {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        fill: var(--color-grey-light-4);
    }
    
    
    &-icon {
        height: 3rem;
        width: 3rem;
        margin-right: 2rem;
        transition: all .2s;
        
        &:hover {
            transform: scale(1.1) translateY(-3px);
            box-shadow: var(--shadow-dark);
            fill: var(--color-primary-5);
    
            &::after {
                transform: scale(1.1) scalex(1.4) scaleY(1.4);
                opacity: 0;
            }
        }
    
        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: var(--shadow-dark);
        }
    }

}


.btn-solid {
    &,
    &:link,
    &:visited {
        @include buttonBase;
        font-size: var(--default-font-size);
        font-weight: 400;
        letter-spacing: 1px;
        color: var(--color-primary-3);
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: var(--border-radius);
        border: 2px solid var(--color-white);
        background-color: var(--color-primary-1-transparent);
        position: relative;
        box-shadow: var(--shadow-dark);
        transition: all .2s;
    }
    
    &:hover {
        box-shadow: var(--shadow-dark);
        transform: translateY(-3px);
        border: 2px solid var(--color-primary-2-light);
        color: var(--color-primary-2-light);
        
        &::after {
            transform: scalex(1.4) scaleY(1.4);
            opacity: 0;
            border: 2px solid var(--color-white);
            background-color: var(--color-primary-1-transparent);

        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: var(--shadow-dark);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 2px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: ctaAppearence .5s ease-out 4s;
        animation-fill-mode: backwards;
    }

}

