.clickndrag-nav {
    margin: auto auto;
    height:99%;
    padding: 0 4rem 0 20rem;
    width: 99%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1);
    will-change: transform;
    position: relative;
    font-size: 0;
    perspective: 500px;
    border: 3px ridge var(--color-primary-5);

    &__item {
        margin-top: 3rem;
        width:200px;
        height: calc(95% - 4rem);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 8rem;
        font-weight: 100;
        color:rgba(0,0,0,0.15);
        border: 9px ridge var(--color-primary-1-transparent);        
        
        &--img {
            height: 100%;
            width: 100%;
            transition: all .3s;
            overflow: hidden;
            backface-visibility: hidden;
        }

        &--caption {
        @include centerAbsolute;
        transform: translate(-50%, 20%);
        color: var(--color-primary-4);
        text-transform: uppercase;
        font-size: 1.5rem;
        opacity: 0;
        transition: all .2s;
        font-weight: 700;
        
        & span {
            display: block;
            text-align: center;
        }
    }
    
    &:hover &--caption {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    
        &:hover &--img {
            filter: blur(0px) brightness(10%);
        }

        &:nth-child(9n+1) { background: var(--color-primary-5);}
        &:nth-child(9n+2) { background: var(--color-primary-4);}
        &:nth-child(9n+3) { background: var(--color-primary-2-dark);}
        &:nth-child(9n+4) { background: var(--color-primary-5);}
        &:nth-child(9n+5) { background: var(--color-primary-4);}
        &:nth-child(9n+6) { background: var(--color-primary-2-dark);}
        &:nth-child(9n+7) { background: var(--color-primary-5);}
        &:nth-child(9n+8) { background: var(--color-primary-4);}
        &:nth-child(9n+9) { background: var(--color-primary-2-dark);}
    
        &:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
        &:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }
    }


      &::-webkit-scrollbar-track
      {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
          border-radius: 10px;
          background-color: #CCCCCC;
      }
      
      &::-webkit-scrollbar
      {
          width: 12px;
        //   background-color: #F5F5F5;
      }
      
      &::-webkit-scrollbar-thumb
      {
          border-radius: 10px;
          background-color: var(--color-primary-2-light);
          background-image: -webkit-linear-gradient(90deg,
                                                    transparent,
                                                    rgba(0, 0, 0, 0.4) 50%,
                                                    transparent,
                                                    transparent)
      }
}

.active {
    background: var(--color-white-transparent);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1.01);
  }