.form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    align-content: center;
    padding: 7rem 2rem;
    // margin-top: 3rem;

    &--left {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &--right {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__group:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__input {
        width: 80%;
    }
    
    &__textarea {
        width: 30rem;
        height: 14rem;
        margin-bottom: 7rem;
    }

    &__input, &__textarea {
        display: block;
        font-size: 1.7rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: var(--color-white);
        border: none;
        border-bottom: 3px solid transparent;
        transition: all .3s;


        &:focus {
            outline: none;
            box-shadow: var(--shadow-dark);
            border-bottom: 4px solid rgb(99, 247, 79);
            color: var(--color-primary-2-dark);
            font-weight: 500;
        }

        &:focus:invalid {
            border-bottom: 4px solid var(--color-primary-2-medium);
        }
    
        &::-webkit-input-placeholder {
            color: var(--color-primary-2-dark);
            font-size: 1.7rem;
        }
    }




    &__label {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__group-button {
        // height: 30%;
        // margin-left: 17rem;
    }

    &__group-radio {
        display: flex;
        height: 30%;
    }

    &__radio-group {
        &:not(:last-child){
            margin-right: 4rem;
        }
        // width: 49%;
        // display: inline-block;
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: var(--default-font-size);
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
        color: var(--color-primary-2-dark);
        font-weight: 500;

    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid var(--color-primary-2-dark);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.4rem;
        left: 0;
        
        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--color-primary-2-dark);
            opacity: 0;
            transition: all .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}