.form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    align-content: center;
    padding: 7rem 2rem;
    // margin-top: 3rem;
    @include respond(phone-tiny) {
        margin: .5;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    
    &--left {
        position: relative;
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include respond(phone-tiny-2) {
            flex: 0 0 60%;
        }
    }

    &--right {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__group:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__input {
        width: 80%;
    }
    
    &__textarea {
        width: 30rem;
        height: 14rem;
            @include respond(phone-tiny-3) {
                width: 95%;
            }
    }

    &__input, &__textarea {
        display: block;
        font-size: 1.7rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: var(--color-white);
        border: none;
        border-bottom: 3px solid transparent;
        transition: all .3s;


        &:focus {
            outline: none;
            box-shadow: var(--shadow-dark);
            border-bottom: 4px solid rgb(99, 247, 79);
            color: var(--color-primary-2-dark);
            font-weight: 500;
        }

        &:focus:invalid {
            border-bottom: 4px solid var(--color-primary-2-medium);
        }
    
        &::-webkit-input-placeholder {
            color: var(--color-primary-2-dark);
            font-size: 1.7rem;
        }
    }




    &__label {
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
        @include respond(phone-tiny-3) {
            margin-left: 0;
        }
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__group-button {
        margin-top: 7rem;
    }

    &__group-radio {
        display: flex;
        height: 30%;
        @include respond(phone-tiny-3) {
            flex-direction: column;
        }
    }

    &__radio-group {
        &:not(:last-child){
            margin-right: 4rem;

        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: var(--default-font-size);
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
        color: var(--color-primary-2-dark);
        font-weight: 500;
        
        @include respond(phone-land) {
            color: var(--color-primary-4);
        }

    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid var(--color-primary-2-dark);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -.4rem;
        left: 0;

        @include respond(phone-land) {
            border: 5px solid var(--color-primary-4);
        }
        @include respond(phone-tiny) {
            border: 3.5px;
        }
        
        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--color-primary-2-dark);
            opacity: 0;
            transition: all .2s;
            
            @include respond(phone-land) {
                background-color: var(--color-primary-4);
            }

        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

    &__auth {
        @include centerAbsolute2;
        transform: scale(0);
        width: 100%;
        background-color: var(--color-primary-1-transparent);
        text-align: center;
        padding: 1rem;
        display: none;
        opacity: 0;
        transition: transform .3s ease-in-out, opacity .3s ease-in-out;
        
        &.active {
            display: block;
            transform: scale(1);
            opacity: 1;
            animation: authentication .3s ease-in-out;
        }
    }
}