<<<<<<< HEAD
<<<<<<< HEAD
=======


>>>>>>> bb1810a3017c697e1c3e2ce2d6531b16d1fdc5e3
=======


>>>>>>> bb1810a3017c697e1c3e2ce2d6531b16d1fdc5e3
.heatmap__canvas {
    position: absolute;
    z-index: 9999;
    visibility: hidden;
}