.nav-icon {
    width: 6rem;
    height: 6rem;
    position: absolute;
    right: 1.5rem;
    top: 2.3rem;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 30;
    visibility: hidden;

    @include respond(phone-tiny) {
        visibility: visible;
    }

    & span {
            display: block;
            position: absolute;
            height: 1rem;
            width: 100%;
            background: var(--color-primary-3);
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            z-index: 29;
    }

    & span:nth-child(1) {
        top: 0px;
      }
  
    & span:nth-child(2),& span:nth-child(3) {
        top: 12px;
    }
    
    & span:nth-child(4) {
        top: 24px;
    }
    
    &.active span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    
    &.active span:nth-child(2) {
        transform: rotate(45deg);
    }
    
    &.active span:nth-child(3) {
        transform: rotate(-45deg);
    }
    
    &.active span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}  