.preloader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-primary-1);
    
    transition: opacity .5s linear, margin-top .5s step-start, z-index .5s step-start;
    display: block;

        
        &.page-loaded {
         opacity: 0;
         margin-top: -330px;
         z-index: -5;
         transition-timing-function: linear, step-end, step-end;
        }

        &.hidden {
         visibility: hidden;
        }



    &__folding-cube {
        margin: 45vh auto;
        width: 7rem;
        height: 7rem;
        position: relative;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);

        transition: opacity .5s linear, margin-top .5s step-start, z-index .5s step-start;
        display: block;
                
        &.page-loaded {
            opacity: 0;
            margin-top: -330px;
            z-index: -5;
            transition-timing-function: linear, step-end, step-end;
        }
                
        & .sk-cube {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); 
        }
        & .sk-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-primary-5);
            -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    }
    & .sk-cube2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
    }
    & .sk-cube3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
        }
        & .sk-cube4 {
            -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
        }
        & .sk-cube2:before {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }
        & .sk-cube3:before {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
        }
        & .sk-cube4:before {
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
        }
    }
}