.follow-nav {
    height: 100vh;
    perspective: 600px;
    border-radius: 3px;
    
    &__content {
        height: 100%;
        width: 21vh;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    
    &__container {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        display:flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 33.3333%;
        
        &--1 { 
            background-image: linear-gradient(155deg,
            var(--color-primary-1) 0%,
            var(--color-primary-1) 75%,
            var(--color-primary-5) 75%);
            padding-bottom: 5rem;
        }
        &--2 {
            background-color: var(--color-primary-5);
        }
        &--3 {
            background-image: linear-gradient(25deg,
            var(--color-primary-1) 0%,
            var(--color-primary-1) 75%,
            var(--color-primary-5) 75%);
            padding-top: 5rem;
        }
    }

    &__item {
        position: relative;
    }
    
    &__link {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 1rem;
        display: inline-block;
        position: relative;
        backface-visibility: hidden;
        border-radius: 5px;
        color: var(--color-primary-5);
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
        
        &.frame-glow-js {
            animation: flashing 2s linear infinite;        
        }
        
        &--play {
            background-color: var(--color-primary-1);
            border: 4px ridge var(--color-white);
            font-size: 5rem;
            height: 10rem;
            width: 10rem;
            border-radius: 500%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: .5rem;
            transition: all .2s;

            &:hover {
                box-shadow: var(--shadow-light);
                transform: translateY(-3px);
                border: 3px ridge var(--color-white);
                color: var(--color-primary-2-light);
                
                &::after {
                    transform: scalex(1.4) scaleY(1.4);
                    opacity: 0;
                    border: 2px solid var(--color-white);
                    background-color: var(--color-primary-1-transparent);
        
                }
            }

            &:active,
            &:focus {
                outline: none;
                transform: translateY(-1px);
                box-shadow: var(--shadow-dark);
            }
        }
    }


    &__dropdown {
        opacity: 0;
        position: absolute;
        overflow: hidden;
        padding: 20px;
        top: -20px;
        border-radius: 2px;
        transition: all 0.5s;
        transform: translate(20vh,0);
        will-change: opacity;
        color: var(--color-black);
        font-size: 2rem;
        font-weight: 300;
        cursor: default;
        display: none;
<<<<<<< HEAD
        visibility: hidden;
        z-index: 3;
=======
        z-index: 100;
        color: var(--color-primary-1);
        font-size: 1.9rem;
        font-weight: 400;
>>>>>>> 1343f0a0b42475e45a1a77c77c358f2c9dfaac92
    }

    &__dropdownBackground {
        width:100px;
        height:100px;
        position: absolute;
<<<<<<< HEAD
        background: var(--color-grey-light-1);
=======
        background: var(--color-primary-5);
>>>>>>> 1343f0a0b42475e45a1a77c77c358f2c9dfaac92
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
        transition:all 0.3s, opacity 0.1s, transform 0.2s;
        transform-origin: 50% 0;
        display: flex;
        justify-content: center;
        opacity:0;
        z-index: 9;

        &.open {
            opacity: 1;
        }
    }

    &__triangle {
        position: absolute;
        width:20px;
        height:20px;
        display: block;
<<<<<<< HEAD
        background: var(--color-grey-light-1);
        transform: translate(-1250%, 150%) rotate(45deg);
        z-index: 2;
=======
        background: var(--color-primary-5);
        transform: translate(-1250%, 150%) rotate(45deg);
        z-index: 9;
>>>>>>> 1343f0a0b42475e45a1a77c77c358f2c9dfaac92
    }

    &__explanation {
        min-width:500px;
        display:flex;
        justify-content: center;
        align-items: center;
        line-height: 1.7;
    }
}

// Show nav content with javascript by adding these classes before a dropdown class.
.trigger-enter .follow-nav__dropdown {
    display: block;
    visibility: visible;
  }
.trigger-enter-active .follow-nav__dropdown {
opacity: 1;
}

