.follow-nav {
    height: 100vh;
    perspective: 600px;
    border-radius: 3px;
    @include respond(ipad) {
        flex-direction: row;
        width: 100%;
        height: 20%;
    }
    
    &__content {
        height: 100%;
        width: 21vh;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include respond(ipad) {
            flex-direction: row;
            width: 100%;
            height: 15vh;
        }
        
    }
    
    &__container {
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
    
        
        display:flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 33.3333%;

        
        &--1 { 
            background-image: linear-gradient(155deg,
            var(--color-primary-1) 0%,
            var(--color-primary-1) 75%,
            var(--color-primary-5) 75%);
            padding-bottom: 5rem;

            @include respond(ipad) {
                background-image: linear-gradient(305deg,
                var(--color-primary-1) 0%,
                var(--color-primary-1) 70%,
                var(--color-primary-5) 70%,
                var(--color-primary-5) 100%);
                order: 3;
                padding: 1rem;                
            }
            @include respond(tab-port) {
                background-image:none;
                background-color:var(--color-primary-1);
            }
        }
        &--2 {
            background-color: var(--color-primary-5);
            
            @include respond(ipad) {
                margin: 0 -.5rem;
                order: 2;
            }
        }
        &--3 {
            background-image: linear-gradient(25deg,
            var(--color-primary-1) 0%,
            var(--color-primary-1) 75%,
            var(--color-primary-5) 75%);
            padding-top: 5rem;
            

            @include respond(ipad) {
                background-image: linear-gradient(55deg,
                var(--color-primary-1) 0%,
                var(--color-primary-1) 70%,
                var(--color-primary-5) 70%,
                var(--color-primary-5) 100%);
                order: 1;
                padding: 1rem; 
            }
            @include respond(tab-port) {
                background-image:none;
                background-color:var(--color-primary-1);
            }
        }
    }

    &__item {
        position: relative;
    }
    
    &__link {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 1rem;
        display: inline-block;
        position: relative;
        backface-visibility: hidden;
        border-radius: 5px;
        color: var(--color-primary-5);
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);

        
        &.frame-glow-js {
            animation: flashing 2s linear infinite;        
        }
        
        &--play {
            background-color: var(--color-primary-1);
            border: 4px ridge var(--color-white);
            font-size: 5rem;
            height: 10rem;
            width: 10rem;
            border-radius: 500%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: .5rem;
            transition: all .2s;
            @include respond(ipad) {
                font-size: 3rem;
                height: 6rem;
                width: 6rem;
                border: 2.5px ridge var(--color-white);
            }

            &:hover {
                box-shadow: var(--shadow-light);
                transform: translateY(-3px);
                border: 3px ridge var(--color-white);
                color: var(--color-primary-2-light);
                
                &::after {
                    transform: scalex(1.4) scaleY(1.4);
                    opacity: 0;
                    border: 2px solid var(--color-white);
                    background-color: var(--color-primary-1-transparent);
        
                }
            }

            &:active,
            &:focus {
                outline: none;
                transform: translateY(-1px);
                box-shadow: var(--shadow-dark);
            }
        }
    }


    &__dropdown {
        opacity: 0;
        position: absolute;
        overflow: hidden;
        padding: 20px;
        top: -20px;
        border-radius: 2px;
        transition: all 0.5s;
        transform: translate(20vh,-5vh);
        will-change: opacity;
        font-size: 2rem;
        font-weight: 300;
        cursor: default;
        display: none;
        visibility: hidden;
        backface-visibility: hidden;
        color: var(--color-primary-1);
        font-size: 1.5rem;
        font-weight: 400;
        z-index: 100;
        @include respond(ipad) {
            transform: translate(-60%,40%);
        }
        @include respond(phone-tiny) {
            transform: translate(-50%,40%);
        }

        
        &--2 {
            @include respond(ipad) {
                transform: translate(-5%,60%);
            }
        }
    }

    &__explanation {
        min-width:500px;
        display:flex;
        justify-content: center;
        align-items: center;
        line-height: 1.7;
    }

    &__dropdownBackground {
        width:100px;
        height:100px;
        position: absolute;
        background: var(--color-white);
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
        transition:all 0.3s, opacity 0.1s, transform 0.2s;
        transform-origin: 50% 0;
        display: flex;
        justify-content: center;
        opacity:0;
        z-index: 9;

        &.open {
            opacity: 1;
        }
    }

    &__triangle {
        position: absolute;
        width:20px;
        height:20px;
        display: block;
        background: var(--color-white);
        transform: translate(-1250%, 370%) rotate(45deg);
        z-index: 9;
        @include respond(ipad) {
            display: none;
        }
    }

}

// Show nav content with javascript by adding these classes before a dropdown class.
.trigger-enter .follow-nav__dropdown {
    display: block;
    visibility: visible;
  }
.trigger-enter-active .follow-nav__dropdown {
opacity: 1;
}

