.container {
    max-width: 120rem;
    margin: 3rem auto;
    background-color: var(--color-primary-3);
    box-shadow: var(--shadow-dark);
    display: flex;
    border-radius: var(--border-radius);
    opacity: 0;
    visibility: hidden;
    cursor: default;
    @include respond(tab-land) {
        margin: 0;
        max-width: 100%;
    }

    @include respond(tab-port) {
        flex-direction: column;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.sidebar {
    background-color: var(--color-primary-1);
    border-right: var(--color-primary-5);
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    backface-visibility: hidden;

    @include respond(tab-port) {
        flex-direction: row;
        justify-content: space-between;
        height: 10rem;
    }
    @include respond(phone-tiny) {
        flex-direction: column;
        align-content: center;
        flex: 0 0 13%;
    }
}


.main-content {
    z-index: 1;
    background-image: radial-gradient(
        at 90% 20%,
      rgba(255, 255, 255, 0.493),
      rgba(212, 211, 211, 0.164), 
      rgba(0, 0, 0, 0.342), 
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 1)),
        url(../../img/backgroundB-small.jpg);
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
    height: 75rem;
    width: 100%;

    @media (min-resolution: 192dpi) and (min-width: 600px) {
        background-image: radial-gradient(
        at 90% 20%,
      rgba(255, 255, 255, 0.493),
      rgba(212, 211, 211, 0.164), 
      rgba(0, 0, 0, 0.342), 
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 1)),
        url(../../img/backgroundB.jpg);
    }

    @include respond(tab-port) {
        height: 100vh;
    }

    @include respond(phone-big) {
        
        background-position: top center;
    }
}

.contact {
    width: 100%;
    background-image: linear-gradient(105deg,
    var(--color-primary-4) 0%,
    var(--color-primary-4) 55%,
    transparent 50%);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: var(--shadow-dark);
    
    @include respond(phone-land) {
        background-image: none;
    }
}