.container {
    max-width: 120rem;
    margin: 3rem auto;
    background-color: var(--color-primary-3);
    box-shadow: var(--shadow-dark);
    display: flex;
    // min-height: 80vh;
    border-radius: var(--border-radius);
}


.sidebar {
    background-color: var(--color-primary-1);
    border-right: var(--color-primary-5);
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}


.main-content {
    z-index: 1;
    background-image: radial-gradient(
        at 90% 20%,
      rgba(255, 255, 255, 0.493),
      rgba(212, 211, 211, 0.164), 
      rgba(0, 0, 0, 0.342), 
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 1)),
        url(../../img/backgroundB.jpg);
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;

    height: 75rem;
    width: 100%;
}
